html{
    font-size: 15px;
}

body{
    background-color: rgb(12, 198, 240);
}

main{
    font-size: 20px;
}

section{
    width: 50%;
    background-color: rgb(18, 15, 176);
    height: 50px;
    margin-top: 10px;
    margin-bottom: 2em;
    margin-left: 2rem;
    margin-right: 0.5rem;

    margin: 10px auto;

}